{% extends "administrare_accese.html" %}

{% block content %}

<div class="column is-3 is-right">
    <div class="box">
        <form method="POST" action="{{ url_for('adauga_acces') }}">
            {% with message = get_flashed_messages() %}
            {% if message[0] == 'Acces existent!' %}
                <div class="notification is-danger" style="text-align: center;">
                    {{ message[0] }}
                </div>
            {% elif message[0] == 'Acces adaugat cu succes!' %}
                <div class="notification is-success" style="text-align: center;">
                    {{ message[0] }}
                </div>
            {% elif message[0] == 'Sala selecata este invalida!' %}
                <div class="notification is-warning" style="text-align: center;">
                    {{ message[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="numeUser"  placeholder="nume user">
                </div>
            </div>
            <div class="field">
                <div class="select is-info is-large is-fullwidth">
                      <select name="ziAcces">
                          <option value="">Alege ziua</option>
                          <option value="luni">luni</option>
                          <option value="marți">marți</option>
                          <option value="miercuri">miercuri</option>
                          <option value="joi">joi</option>
                          <option value="vineri">vineri</option>
                          <option value="sâmbătă">sâmbătă</option>
                          <option value="duminică">duminică</option>
                      </select>
                </div>
            </div>
            <div class="field">
                <div class="select is-info is-large is-fullwidth">
                      <select name="intervalOrar">
                          <option value="">Alege interval orar</option>
                          <option value="00:00-12:00">00:00-12:00</option>
                          <option value="12:00-00:00">12:00-00:00</option>
                      </select>
                </div>
            </div>

            <div class="field">
                <div class="select is-info is-large is-fullwidth">
                  <select name="idSala">
                    <option value="">Alege sala</option>
                    <option value="6">B206</option>
                      <option value="7">B207</option>
                  </select>
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Adauga</button>
        </form>
    </div>
</div>

{% endblock %}

