<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profilul lui {{name}}</title>
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css" />


</head>

<body>
{% block body %}
    <section class="hero is-primary is-fullheight is-mobile">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                      <a class="navbar-item" style="font-weight: bold;">
                          {{name}}
                      </a>
                      <span class="navbar-burger" data-target="navbarMenuHeroA" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                        <span></span>
                        <span></span>
                        <span></span>
                      </span>
                    </div>
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('profil') }}" class="navbar-item" style="font-weight: bold;">
                                Dashboard
                            </a>
                            <a href="{{ url_for('logout') }}" class="navbar-item" style="font-weight: bold;">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        {% if tip_user == 'profesor' %}
        <div class="hero-body is-align-items-stretch">
            <div class="columns is-flex-grow-1">
                <div class="column is-3">
                    <div class="box">
                        <form method="POST">
                            <h3 class="title" style="color: black;text-align: center;">Dashboard</h3>
                            <a href="{{ url_for('adauga_student') }}" class="button is-block is-info is-large is-fullwidth" >Adauga utilizator</a>
                            </br>
                            <a href="{{ url_for('schimba_parola') }}" class="button is-block is-info is-large is-fullwidth">Schimba parola</a>
                            </br>
                            <a href="{{ url_for('utilizatori_activi') }}" class="button is-block is-info is-large is-fullwidth">Utilizatori activi</a>
                            </br>
                            <a href="{{ url_for('utilizatori_inactivi') }}" class="button is-block is-info is-large is-fullwidth">Utilizatori inactivi</a>
                            </br>
                        </form>
                    </div>
                </div>
                {% block content %}

                {% endblock %}
            </div>
        </div>


        {% endif %}

        {% if tip_user == 'student' %}

        <div class="hero-body">
            <div class="container has-text-centered">
                </br></br></br>
                <h1 class="bottom">
                     Buna ziua, domnule {{ tip_user }} {{ name }}!!</br></br> Bine ai venit !
                </h1></br></br></br>
            </div>
        </div>
        {% endif %}

    </section>
{% endblock %}
</body>

</html>


