{% extends "administrare_utilizatori.html" %}

{% block content %}

<div class="column is-3 is-right">
    <div class="box">
        <form method="POST" action="{{ url_for('schimba_parola') }}">
            {% with message = get_flashed_messages() %}
            {% if message[0] == 'Parola schimbata cu succes!' %}
                <div class="notification is-success" style="text-align: center;">
                    {{ message[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="username"  placeholder="username">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password"  placeholder="password">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Schimba parola</button>
        </form>
    </div>
</div>

{% endblock %}

